body{

    margin: 20px auto;
    font-family: Arial, serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px 10% 90% 200px;
    gap:10px;
    grid-template-areas:
	   "header header header"
	   "article article article"
	   "nav nav nav"
	   "aside aside aside"
	   "footer footer footer";

}


.header{
    grid-area:header;
}
.article{
    grid-area:article;
}
.nav{
    grid-area:nav;
}
.aside{
    grid-area:aside;
}


.footer{
    grid-area:footer;
}
.

@media all and (max-width: 680px)
{
    body{
        grid-template-areas:
	   "header"
	   "article"
	   "nav"
	   "aside"
	   "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    }
}

article, nav, aside{
    background: #edf1fa;
    padding: 10px;
    color:#008080;

}
.button{
    display: block;
    position: fixed;
    bottom:0;
    right:0;
    background-color: #9875f1;
    border-radius: 40px;
    width:100%;
    color: blue;
}
.button input{
    background-color:white;
    color: blue;
    height:40px;
    border: solid 5px blue;
    border-radius: 40px;
    width:100%;
}
.button input:hover{



    border-radius: 40px;
    background-color: #eacefd;
    width:100%;
    color: blue;
}
a{
    text-decoration: none;
    text-align: center;

}
a input:hover{
    text-decoration: none;
    color: blue;
    display: flex;
    justify-content: center;
}
.cont
{
    background-color: #e1e7ff;
    height:550px;
    width:350px;
    border-radius:23px;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
    float: left;

}

.cart {
    border-radius:23px;
    margin: 1%;
}
input{
    border: none;
    background-color: #e8d7ff;
    box-shadow: -5px -5px 5px white ;
    border-radius:20px;
    margin: 5px;

}
