<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аутентификация</title>
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>

<div class="enter">
    <h3>Вход в личный кабинет</h3>
<form method="post" action="/process_login">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

    <input type="text" placeholder="Введите логин" name="username" id="username">
    <br>

    <input type="password" placeholder="Введите пароль" name="password" id="password">
    <input type="submit" value="Войти">
    <br>
</form>

<div th:if="${param.error}" style="color: red">
    Неправильный логин или пароль
</div>
    <br>

    <a href="/registration">Зарегистрироваться</a>
</div>
</body>
</html>